# Local gcloud
**/.gcloud/*
# Local IDE directories
**/.idea/*
# Local .terraform directories
**/.terraform/*
# Terraform state
*.tfstate
*.tfstate.*
# Local terraform tfvars
local.tfvars
#terraform plan outputs
*.out
# Crash log files
crash.log
# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json
local.tfvars
# Backup files
*.bak
*.old